#ignore the solution (.sln)
*.sln

#ignore the Visual studio temp something (.vs folder)
.vs/

#ignore the logfiles & txtfiles
*.log
*.txt

#ignore the portable version (.pdb)
*.pdb

#ignore packages
packages

#ignore ini files (.ini)
#*.ini

#ignore Debug & Release
LINDRA - Market/LINDRA - Market/bin/*
LINDRA - Market/MarketUpdater/bin/*
LINDRA - Market/MarketOffsets/bin/*

LINDRA - Market/LINDRA - Market/obj/*
LINDRA - Market/MarketUpdater/obj/*
LINDRA - Market/MarketOffsets/obj/*
