<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PLogger"
				 type="PLogger.Configuration.PLoggerConfig, PLogger"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<PLogger>
		<targets>
			<add saveType="json" fileName="\\logs\\MarketLogs" filePath="" minLevel="Infos" detailMode="true" activityId="true"/>
		</targets>
	</PLogger>
</configuration>